{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
    <h1>Modifier le produit</h1>
        <h1 class="ml-auto"><a href="{{ path('produits_index') }}">Retour à la liste</a></h1>
        </div>

    {{ include('produits/_form.html.twig', {'button_label': 'Valider'}) }}



    {{ include('produits/_delete_form.html.twig') }}

    </div>
    {% block javascripts %}

        <script src="{{ asset("libs/js/index.js") }}"></script>
    {% endblock %}
{% endblock %}
