{% extends 'base.html.twig' %}

{% block title %}New Zip{% endblock %}

{% block body %}
    <h1>Create new Zip</h1>

    {{ include('zip/_form.html.twig') }}

    <a href="{{ path('zip_index') }}">back to list</a>
{% endblock %}
