{% extends 'base.html.twig' %}

{% block title %}New Zip{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
    <h1>Ajout nouvelle ville</h1>
        <h1 class="ml-auto"><a href="{{ path('zip_index') }}">Retour à la liste</a></h1>
        </div>
    {{ include('zip/_form.html.twig') }}


    </div>
{% endblock %}
